{{ asset_add("styles.css", "anomaly.field_type.wysiwyg::less/redactor.less") }}

{{ asset_add("scripts.js", "anomaly.field_type.wysiwyg::js/redactor.min.js") }}

{% for plugin in field_type.config.plugins %}
    {{ asset_add("scripts.js", "anomaly.field_type.wysiwyg::js/plugins/" ~ plugin ~ ".js") }}
{% endfor %}

{{ asset_add("scripts.js", "anomaly.field_type.wysiwyg::js/input.js") }}

<textarea
        data-provides="wysiwyg"
        name="{{ field_type.input_name }}"
        data-field="{{ field_type.field_name }}"
        data-disk="{{ field_type.config.disk }}"
        data-height="{{ field_type.config.height }}"
        placeholder="{{ trans(field_type.placeholder) }}"
        data-folders="{{ field_type.config.folders|join(',') }}"
        data-locale="{{ field_type.locale ?: config_get('app.locale') }}"
        data-buttons="{{ field_type.config.buttons|join(',') }}"
        data-plugins="{{ field_type.config.plugins|join(',') }}"
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}
        >{{ field_type.value }}</textarea>

<small class="text-muted hidden-xs">{{ field_type.storage_path }}</small>

<div class="modal remote" id="{{ field_type.field_name }}-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>